body {
    background-color: #F0f0f0;
    font: 15px 'Playfair Display', serif;
}

/*Global Map Styles*/

.names {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

/* Tooltip CSS */
.tooltip {
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    background: rgba(0, 0, 0, 0.6);
    color: #FFA500;
    border-radius: 1px;
    pointer-events: none;
}

    /* Creates a small triangle extender for the tooltip */
    .tooltip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 8px;
        width: 100%;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.6);
        position: absolute;
        pointer-events: none;
    }

    /* Northward tooltips */
    .tooltip.n:after {
        content: "\25BC";
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
        text-align: center;
    }

    /* Eastward tooltips */
    .tooltip.e:after {
        content: "\25C0";
        margin: -4px 0 0 0;
        top: 50%;
        left: -8px;
    }

    /* Southward tooltips */
    .tooltip.s:after {
        content: "\25B2";
        margin: 0 0 1px 0;
        top: -8px;
        left: 0;
        text-align: center;
    }

    /* Westward tooltips */
    .tooltip.w:after {
        content: "\25B6";
        margin: -4px 0 0 -1px;
        top: 50%;
        left: 100%;
    }

/*    text{
      pointer-events:none;
    }*/

.details {
    color: white;
}

.legendThreshold {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}

.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
    font-size: 16px;
}

/*/*Second Figure Styles*/
.axis {
    font: 15px 'Playfair Display', serif;
    stroke: #000000;
    fill: #000000;
}

    .axis path,
    .axis line {
        fill: none;
        stroke: #000000;
        stroke-width: 2px;
        shape-rendering: crispEdges;
    }

.line {
    fill: none;
    stroke: #6F257F;
    stroke-width: 2px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: #e85a4f;
    stroke: #6F257F;
    stroke-width: 5px;
}

.focus1 circle {
    fill: #e85a4f;
    stroke: #6F257F;
    stroke-width: 5px;
}

.hover-line {
    stroke: rgba(0,0,0,0.9);
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}